<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI</title>
</head>

<body>
    <div>
        <a href="bmi">Home</a>
        <a href="reports">Reports</a>
    </div>
    <h1>Calculate BMI</h1>
    <form action="http://localhost:3000/calculate-bmi" method="POST">
        <label>Height (M): </label>
        <input type="text" name="height" id="">
        <label>Weight (Kg): </label>
        <input type="text" name="weight" id="">
        <input type="submit" value="Submit">
    </form>
    <p>BMI: {{bmi}}</p>
</body>

</html>