<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Reports</title>
</head>

<body>
    <div>
        <a href="bmi">Home</a>
        <a href="reports">Reports</a>
    </div>
    <script src="js/main.js"></script>
    <table id="reportsTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Height</th>
                <th scope="col">Weight</th>
                <th scope="col">BMI</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <p id="averageBMI">The Society Average BMI is: </p>
    <p id="averageStatus">The Society Average Status is: </p>
</body>

</html>